.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.banner-card{
  width: 100vw;
  margin-top: 2vh ;
  margin-bottom: 3vh;
  position: relative;
  height: 70vh ;
}

.banner-img{
  height: 70vh;
  width: 100%;
}


.banner-title{
  position: absolute;

  top : 45vh;
  left : 5vw;
  font-size: 45px;
  
  color:white;
}


.banner-text{
  position:absolute;
  color: white;
  top:55vh;
  height: 4.5rem;
  margin-left: 5vw;


}


.movies-list{
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}


.movie-card{
  margin: 1rem;
  width: 20vw;
  color: white;
  position: relative;

}


.movie-title{
  position : absolute;
  top : 1rem;
  left : 1rem;
}

.movies-button{
  position : absolute;
  bottom : 2rem;
 
 

}


.genre-selector{
  padding: 3rem;
}

.favourites-table{
  padding: 3rem;
}